<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>测试</h1>
<div>
    <iframe id="iframe" src="http://127.0.0.1:3000/test" style="height: 600px;width: 800px;" frameborder="0"></iframe>
</div>
</body>
<script>
    document.addEventListener('keyup',function(e){
        console.dir(e);
        alert(e.keyCode)
//        var s=document.getElementById('iframe').contentWindow.document
//        s.dispatchEvent(e)
    })
//    var iframe=document.getElementById('iframe')
//    console.log(111111111)
//    console.log('iframe='+iframe)
var s=document.createEvent('KeyboardEvent')
    s.keyCode=39;
    var co= new Event('keyup',{keyCode:60});
    document.dispatchEvent(co)

</script>
</html>